<phpunit bootstrap="lib/autoload.php">
    <testsuites>
        <testsuite name="RingCentral">
            <directory>lib</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <exclude>
                <directory suffix="Test.php">lib</directory>
            </exclude>
        </blacklist>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>
</phpunit>