<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="src/Test/bootstrap.php" colors="true" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix="Test.php">src</directory>
      <directory>src/Test</directory>
    </exclude>
    <report>
      <clover outputFile="dist/coverage/clover.xml"/>
      <html outputDirectory="dist/coverage"/>
    </report>
  </coverage>
  <logging/>
  <testsuites>
    <testsuite name="RingCentral">
      <directory>src</directory>
    </testsuite>
  </testsuites>
</phpunit>
